{{!-- {{#ember-image-slider
    content=model
    limit=40
    shouldDisplayArrows=true
    afterPick=(action 'pickImage') as |image|}}
    <div>This image has width:{{image.width}}</div>
{{/ember-image-slider}} --}}

{{#each model as |post|}}

    {{#blog-post post=post}} {{/blog-post}}

{{/each}}
