
{{#link-to 'index'}} Go to home {{/link-to}}


{{#each model as |post|}}
    <ul>
      <li>{{#link-to 'post' post }} {{post.title}} {{/link-to}}</li>
    </ul>
{{/each}}

{{#create-new-post newPost=model createPost="createPost"}}{{/create-new-post}}
